<!-- Generated template for the MapComponent component -->
<div class="wrapper">
    <div #mapEl id="map"></div>
    <pickup
        [map]="map"
        [isPinSet]="isMapIdle"
        [isRideRequested]="isRideRequested"
        [destination]="destination"
        (updatedPickupLocation)="updatePickupLocation($event)"></pickup>
    <available-vehicles
        [map]="map"
        [isRideRequested]="isRideRequested"></available-vehicles>
    <pickup-vehicle
        [map]="map"
        [isRideRequested]="isRideRequested"
        [pickupLocation]="currentLocation"
        [destination]="destination"></pickup-vehicle>
</div>
